@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

#searchBox{
    width: 100%;
    text-align:center;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #d6e2f5 url('/searchBarBG.png') no-repeat center fixed;
}
input{
    border: none;
    font-size: 25px;
    text-align: center;
    position: fixed;
    top: 25%; left: 0; bottom: 0; right: 0;
    margin: auto;
    width: 330px;
    height: 25px;
    outline: none;
}

#bubble-load {
    display: none;
    font-size: 35px;
    text-align: center;
    margin-top: 3%;
    margin-left: 35%;
    position: relative;
    width: 360px;
    height: 200px;
    padding: 7px;
    background: #FFFFFF;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    border: #000000 solid 5px;
    padding-top: 35px;
}

#bubble-load:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 59px 15px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -59px;
    left: 319px;
}
#bubble-load:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 63px 19px 0;
    border-color: #000000 transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -68px;
    left: 315px;
}
#bubble-two {
    display: none;
    font-size: 35px;
    text-align: center;
    margin-top: 3%;
    margin-left: 50%;
    position: relative;
    width: 360px;
    height: 200px;
    padding: 7px;
    background: #FFFFFF;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    border: #000000 solid 5px;
}

#bubble-two:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 59px 15px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -59px;
    left: 24px;
}

#bubble-two:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 63px 19px 0;
    border-color: #000000 transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -68px;
    left: 20px;
}

#bubble-load,
#bubble-two
{
    font-family: 'Kaushan Script', cursive;
}