@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

body
{
    background-color: #EF9A9A !important;
}

.resultBox{
    /*background-color: #2aabd2;*/
    margin: 0 0 15px 10px;
}

.container-fluid{
    background-color: #d6e2f5;
    /*background-color: #fff;*/
    box-shadow: 0px -16px 66px -19px rgba(0,0,0,0.75);
    margin-top:20px;
    padding-top: 30px;
}

.rowBox{
    margin-top: 15px;
}

.hidden{
    display: none;
}
#over9000img{
    position: relative;
    left: 70%;
    top: 30px;
    display: block;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    z-index: 2;
}


.sample {
    position: relative;
    width: 300px;
    height: 40px;
    line-height: 20px;
    border-radius: 2em;
    background: #CCC
}
.sample .ui-slider-handle {
    cursor: move;
    top: 0;
    width: 47px;
    height: 20px;
    margin-left: -23px;
    border: 0;
    background: #333
}

  .bubble
  {
      top: 5%;
      display: block;
      position: absolute;
      margin-left:35%;
      font-size: 35px;
      text-align: center;
      width: 550px;
      height: 165px;
      padding: 0px;
      background: #FFFFFF;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      border-radius: 16px;
      border: #000000 solid 5px;

      font-family: 'Kaushan Script', cursive;
      padding-top: 20px;
  }

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 13px 0 13px 56px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    right: -56px;
    top: 105px;
}

.bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 17px 0 17px 60px;
    border-color: transparent #000000;
    display: block;
    width: 0;
    z-index: 0;
    right: -65px;
    top: 101px;
}

a > .result-box
{
    color: #222;
}

.result-box
{
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;

    border-radius: 3px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.32);

    position: relative;
    height: 100px;
    color: #222;

    transition: 0.1s all;
}

.result-box:hover
{
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.32);
    transform: scale(1.01);
}

.result-box .title
{
    font-size: 1.1em;
    font-weight: bold;
}

.result-box .episodes
{
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.result-box .type
{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.result-box .rating
{
    position: absolute;
    left: 10px;
    bottom: 30px;
}

.user-info
{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.user-info .genres
{
    font-size: 20px;
}